.Dashboard {
    margin-left: 330px;
    height: 100vh;
    width: calc(100% - 330px);
    overflow: auto;
    background-color: #f4f5f5;
}

.container {
    padding: 30px;
    display: flex;
    gap: 20px;
}

.dashboard__center {
    display: flex;
    justify-content: flex-end;
    margin-left: -330px;
}

.dashboard__center {
    width: 100%;
    height: 90px;
    background-color: #f4f5f5;
    position: fixed;
    box-shadow: 1px 1px 1px white;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}

.svg__button {
    height: 46px;
    width: 46px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
}

.sign__button {
    width: 96px;
    height: 46px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: rgb(1, 45, 172);
    font-size: 16px;
    font-family: "Museo Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    position: relative;
    left: 0;
}


.name__border__center {
    width: 1888px;
    padding: 40px 40px 40px 20px;
    height: 270px;
    background-color: rgb(1, 45, 172);
    color: white;
    border-radius: 4px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 {
    padding: 0 30px 30px 30px;
    display: flex;
    margin:  60px auto;
}

.border__h3 {
    font-size: 38px;
    font-family: "Museo Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.167;
    margin-top: -10px;
}

.jss242:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 185px;
    background-color: #3357bc;
    margin-top: -40px;
}

.name__border__center h5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.name__border__center h4 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.167;
    margin-top: -20px;
}

.courses {
    width: 191px;
    height: 43px;
    background-color: white;
    color: #012dac;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.border__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

@media (max-width: 1078px) {

    .name__border__center {
        height: 300px;
    }

}

@media (max-width: 910px) {

    .name__border__center {
        height: 350px;
    }
}

@media (max-width: 780px) {

    .name__border__center {
        height: 380px;
    }

}

@media (max-width: 760px) {
    .Dashboard {
        margin-left: 0;
        width: 100%;
    }

    .name__border__center {
        width: 100%;
        padding: 40px;
        height: 270px;
        background-color: rgb(1, 45, 172);
        color: white;
        border-radius: 4px;
        margin-top: 60px;
    }

    .dashboard__center {
        box-shadow: none;
    }

    .dashboard__center {
        margin-left: 0;
    }
}

@media (max-width: 748px) {
    .name__border__center {
        height: 320px;
    }

}

@media (max-width: 580px) {
    .name__border__center {
        height: 360px;
    }

}

@media (max-width: 454px) {
    .name__border__center {
        height: 380px;
    }
}

@media (max-width: 430px) {
    .name__border__center {
        height: 380px;
    }

    .container1 {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 430px) {
    .container1 {
        padding: 0 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name__border__center {
        width: 300px;
        padding: 30px 30px 30px 20px;
    }
}

@media (max-width: 375px) {
    .container1 {
        padding: 0 20px 20px 20px;
    }
    .name__border__center {
        width: 290px;
        padding: 30px 30px 30px 20px;
    }
}
@media (max-width: 350px) {
    .container1 {
        padding: 0 20px 20px 20px;
    }
    .name__border__center {
        width: 290px;
        padding: 30px 20px 20px 10px;
    }
}